@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}


/*Estilização da header*/
header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E61616;
}

img {
    width: 18vh;
}

ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    font-weight: 800;
    color: white;
    font-size: 2.3rem;
}
li:hover{
    color: green;
}

/*Estilização da main*/

main{
    width: 100%;
    height:100vh;
    background-image: url("./imagens/Noel.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

h2{
    font-size: 2rem;
    width: 70%;
    text-align: center;
    
}


@media (min-width: 200px) and (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: center;
    }

    img {
        width: 15vh;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 2rem;
    }


    h2{
        width: 80%;
        text-align: center;
        font-size: 2rem;
        margin-top: 50%;
        position: absolute;
        top: 33rem;
    }

}